.LargePic {
    border-style: solid;
    border-radius: 50%;
    border-color: #000000;
    border-width: 5px;
    height: 300px;
    position: relative;
    left: 50px;
    top: 0px;
    z-index: 3;


}
@media screen and (max-width: 510px){
    .LargePic {
        border-style: solid;
        border-radius: 50% 50% 0 0;
        border-color: #000000;
        border-width: 5px;
        border-bottom-width: 0;
        height: 200px;
        position: static;
        z-index: 0;
        text-align: left;
    
    
    } 
}