.Samples {
   position: relative;
   top: -300px;
   z-index: 3;
}
.BubblinkSample {
    background-color: white;
    border-style: solid;
    border-radius: 540px;
    border-color: #000000;
    border-width: 5px;
    width: 200px;
}
.SmartRockSample {
    background-color: white;
    border-style: solid;
    border-radius: 540px;
    border-color: #000000;
    border-width: 5px;
    width: 200px;
}
.PoppySample{
    background-color: white;
    border-style: solid;
    border-radius: 540px;
    border-color: #000000;
    border-width: 5px;
    width: 200px;
}


@media screen and (max-width: 510px){
    .Samples {
        position: static;
     }  
     .BubblinkSample {
        border-style: solid;
        border-radius: 540px;
        border-color: #000000;
        width: 100%;
        margin-bottom: 20px;

       
    } 
    .SmartRockSample {
        border-style: solid;
        border-radius: 540px;
        border-color: #000000;
        width: 100%;
        margin-bottom: 20px;


       
    } 
    .PoppySample {
        border-style: solid;
        border-radius: 540px;
        border-color: #000000;
        width: 100%;
        margin-bottom: 100px;


       
    } 
}