.Bubblink, .SmartRock, .Poppy {
    background-color: white;
    border-style: solid;
    border-radius: 540px;
    border-color: #000000;
    border-width: 5px;
    width: 300px;
}

.TopRow {
    text-align: center;
}


@media screen and (max-width: 510px){
    .Bubblink .SmartRock .Poppy{
        width: 100%;
        margin-bottom: 20px;
    } 
}