.Bubblink, .SmartRock, .Poppy, .CrystalClick, .Trivia, .GifTastic {
    background-color: white;
    border-style: solid;
    border-radius: 540px;
    border-color: #000000;
    border-width: 5px;
    width: 300px;
}
.Row {
    margin-bottom: 40px;

}
.BottomRow {
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.TopDescr {
    text-align: left;
}
.TopProject {
    margin-top: 20px;
    text-align: center;
}
.SecDescr {
    text-align: right;
}
.SecProject {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 510px){
    .Bubblink .SmartRock .Poppy .CrystalClick .Trivia .GifTastic{
        width: 100%;
        margin-bottom: 20px;
    } 
}