.page-footer{
    background-color: #aaaaaa;
    font-size:16pt;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-top: 20px;


}

p{
    text-align: left;

}

i {
    font-size:18pt;
    padding: 10px;
}
.icons{
    text-align: right;
}

@media screen and (max-width: 510px){
    .page-footer{
        background-color: #aaaaaa;
        font-size:12pt;
        text-align: center;
        position: static;
        bottom: 0;
        right: 0;
        width: 100%;
        padding-top: 0px;

    }
    .links{
        text-align: center;
    
    }
    i {
        font-size:12pt;
        padding: 10px;
    }
    .icons{
        text-align: center;
    }
    .nameContainer{
        text-align: center;
        
    }
    p{
        padding-top: 20px;
    }
    #firstIcon {
        margin-left: 0px;
        }
}