.page-footer{
    background-color: #aaaaaa;
    font-size:16pt;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;

}
.links{
    text-align: right;

}
#firstIcon {
margin-left: 800px;
}
i {
    font-size:18pt;
    padding: 10px;
}

@media screen and (max-width: 510px){
    .page-footer{
        background-color: #aaaaaa;
        font-size:12pt;
        text-align: center;
        position: static;
        bottom: 0;
        right: 0;
        width: 100%;
    
    }
    .links{
        text-align: center;
    
    }
    i {
        font-size:12pt;
        padding: 10px;
    }
    .nameContainer{
        text-align: center;
    }
    #firstIcon {
        margin-left: 0px;
        }
}