.AboutMe {
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    border-radius: 40px;
    width: 75%;
    position: relative;
    top:-250px;
    left: 200px;
    z-index: 0;
    color: #333333;
    font-size: 16pt;
    text-align: left;
    padding-top:35px;
    padding-left:100px;
    padding-right:50px;
    text-indent: 5%;
    line-height: 200%;
}