.Navbar{
    width: 100%;
    z-index: 4;
}
.brand {
    margin-top: 7px;
    font-size: 20pt;

}
i {
    font-size: 20pt;
}
.link{
    padding-top:10px;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 14pt;

}